# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual Environment
venv/
.venv/
sri/

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
*.log

# Environment variables
.env
.env.*

# Docker
*.pid
